[Unit]
Description=Grafana telemetry container
Wants=loki.container
After=loki.container

[Container]
Image=docker.io/grafana/grafana:13.2.3
ContainerName=grafana
Network=telemetry.network
NetworkAlias=grafana
Volume=grafana-data.volume:/var/lib/grafana:U
Volume=./config/grafana:/etc/grafana:ro,Z
Environment=GF_PATHS_CONFIG=/etc/grafana/grafana.ini
Environment=GF_PATHS_PROVISIONING=/etc/grafana/provisioning
Environment=GF_PATHS_DATA=/var/lib/grafana
Environment=GF_PATHS_PLUGINS=/var/lib/grafana/plugins
Environment=GF_LOG_MODE=console
NoNewPrivileges=true
LogDriver=journald

[Service]
Restart=on-failure
RestartSec=5
TimeoutStartSec=900
TimeoutStopSec=60

[Install]
WantedBy=default.target
